.home-container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
}

.page-title {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 40px;
  color: #0f172a;
}

.plans-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
}

.plan-card {
  background: #ffffff;
  border-radius: 14px;
  padding: 24px;
  min-height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 12px 26px rgba(0, 0, 0, 0.08);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.plan-card:hover {
  transform: translateY(-6px);
  box-shadow: 2px 12px 10px rgba(0, 0, 0, 0.12);
}

.plan-card h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #020617;
}


.trainer-name {
  font-size: 14px;
  color: #475569;
  margin-bottom: 18px;
}


.price-badge {
  align-self: flex-start;
  background: #0f172a;
  color: #fff;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 20px;
}


.subscribe-btn {
  margin-top: auto;
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
   background: linear-gradient(to right, #1b4097, #111827);
  transition: background 0.3s ease, transform 0.2s ease;
}

.subscribe-btn:hover {
  background: linear-gradient(135deg, #081337, #111827);
  transform: scale(1.02);
  box-shadow: 2px 8px 16px #272a30
}
